*{
    margin: 0px;

}
header{
    background-color: bisque;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    border-radius: 0;
}


/* logo part */
.logo{
    display:flex;
    align-items: center;
}
.logo img{
    width: 70px;
    height: 50px;
}
.logo span{
    color: aqua;
}
.logo p{
    font-size: 20px;
}


/* list part */
.things li{
    list-style: none;
}
.things a{
    font-size: 24px;
    text-decoration: none;
    color: rgb(192, 78, 78);
}
.things ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


/*middle portion*/
.mid{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: bisque;
}
.mid img{
    width:600px;
    height: auto;
    padding-top: 10px;
    padding-left: 10px;
}
.midcard{
    display: grid;
    grid-template-columns: auto;
    border: 3px solid black;
    font-size: 30px;
    row-gap: 40px;
    padding: 20px;
    border-radius: 8px;
    background-color: gray;
}
.midcard p{
    border: 2px solid black;
    border-radius: 8px;
    background-color: pink;
}
.midcard p.info{
    font-size: 40px;
    border: none;
    background-color: gray;
    font-style: italic;
}
.card-wrapper{
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.midcard ul{
    list-style: none;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.midcard ul li{
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(148, 207, 207);
}



/*Skillset showing portion*/
.skillhead{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-style: italic;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    width: 20%;
    margin: auto;
    margin-bottom: 10px;
    background-color: aqua;
}

.skillcard{
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
.skillcard img{
    width: 70px;
    hight: 50px;
    display: block;
    margin: 0 auto;
}
.skill-content{
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    background-color: rgb(241, 151, 86);
}
.skill-content ul{
    padding-left: 20px;
}
.skill-content li{
    white-space: normal;
    font-size: 25px;
}
.skill{
    background-color: #FFE4C4;
    padding-top: 10px;
}